/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(40, 43, 59, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

.navbar {
  background-color: #d8e6f1;
  color: #1b143e;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 1rem;
  
  
}

.site-title{
  font-size: 30px;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.navbar li {
  color: inherit;
  margin-left: 16px;
  text-decoration: none;
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: inherit;
  margin-left: 16px;
  text-decoration: none;
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.navbar a:hover {
  color: #0e159a;
}



.navbar li:hover {
  background-color:hsl(0, 0%, 100%);
  
}

a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #3137aa;
  text-decoration: inherit;
}



body {
  margin: 0;
  
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
  text-align:center
  
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.card{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(135, 113, 113, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 400px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 30%;
  margin-bottom: 10px;

}

.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #004e4e;
}

.card .card-subtitle{
  font-family: Arial, Helvetica, sans-serif;
  color: #313e5b;
}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: #313e5b;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  color: #313e5b;
}


